@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

.gridFlex {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  max-width: 80%;
  font-family: "Montserrat", sans-serif;
}

.gridHeader {
  text-transform: uppercase;
}

.gridRow {
  min-width: 25%;
  border: 1px solid black;
  justify-content: space-evenly;
  text-align: center;
}
