@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

.gridFlex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  max-width: 80%;
  font-family: "Montserrat", sans-serif;
}

.gridHeader {
  text-transform: uppercase;
  padding: 20px 0 10px 0;
}

.gridRow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.gridColumn {
  min-width: 20%;
  border: 1px solid black;
  justify-content: space-evenly;
  text-align: center;
}

.selector {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px 0 0 10px;
}
